@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable_inline{ 
    height:200px; 
    font-size: 12px;
}

.gov-ids .vs__search{
    height: 20px;
    font-size: 9px;
    padding-left: 2px;
    border: none;
}

.gov-ids .vs__search::placeholder{
    color: #808080;
}

.gov-ids .vs__search:focus{
    font-size: 9px;
}

.gov-ids::placeholder{
    font-size: 9px;
    color: #808080;
}

.gov-ids::placeholder:focus{
    font-size: 9px;
    color: #808080;
}

.gov-ids .vs__dropdown-toggle{
    height:28px; 
    border: none;
}

.check_purpose .vs__search{
    height: 20px;
    font-size: 9px;
    border: none;
}

.check_purpose .vs__search:focus{
    font-size: 9px;
}

.check_purpose .vs__search::placeholder{
    color: #808080;
}

/* .check_purpose::placeholder{
    font-size: 9px;
    color: #808080;
} */

.check_purpose .vs__dropdown-toggle{
    height:26px; 
    border: none;
}

.check_purpose .vs__dropdown-menu{
    max-height: 110px;
    color: black;
}

.check_purpose .vs__selected{
    height: 20px;
}

.withguest::placeholder{
    color: gray;
}

.buildingSelect .vs__search{
    height: 20px;
    font-size: 9px;
    padding-left: 2px;
    border: none;
}

.buildingSelect .vs__search:focus{
    font-size: 9px;
}

.buildingSelect::placeholder{
    font-size: 9px;
    color: #808080;
}

.buildingSelect::placeholder:focus{
    font-size: 9px;
    color: #808080;
}

.buildingSelect .vs__dropdown-toggle{
    height:26px; 
    border: none;
    width: 163px;
}

.buildingDropdown .vs__search{
    height: 20px;
    font-size: 9px;
    border: none;
}

.buildingDropdown .vs__search:focus{
    font-size: 9px;
}

.buildingDropdown .vs__search::placeholder{
    font-size: 9px;
    color: #808080;
}

.buildingDropdown::placeholder:focus{
    font-size: 9px;
    color: #808080;
}

.buildingDropdown .vs__dropdown-toggle{
    height:28px; 
    border: none;
}

.qrScanner .qrcode-stream-camera{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.qrcode-stream-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
    color: #19376D;
}

.qrScanner .qrcode-stream-wrapper .qrcode-stream-camera{
    height: 250px;
}

.valid_ids .vs__search{
    height: 28px;
    font-size: 12px;
    border: none;
}

.valid_ids .vs__selected{
    height: 28px;
}

.valid_ids .vs__search::placeholder{
    color: #808080;
}

.valid_ids .vs__actions .vs__open-indicator{
    margin-top: 8px;
}
.valid_ids .vs__actions .vs__clear{
    margin-top: 8px;
}

.valid_ids .vs__search:focus{
    font-size: 12px;
}

.valid_ids::placeholder{
    font-size: 12px;
    color: #808080;
}

.valid_ids::placeholder:focus{
    font-size: 12px;
    color: #808080;
}

.valid_ids .vs__dropdown-toggle{
    height: 28px; 
    border: none;
}

#gov_id{
    padding-left: 8px;
    padding-right: 8px;
}

#gov_id .vs__selected{
    margin: 0;
    padding: 0;
    margin-left: 4px;
}

#gov_id .vs__dropdown-menu{
    max-height: 100px;
}

#gov_id .vs__search{
    margin: 0;
    padding: 0;
    padding-left: 4px;
}

#gov_id .vs__search{
    margin: 0;
}
#gov_id .vs__actions{
    padding: 0;
}

#gov_id .vs__dropdown-toggle{
    border: none;
}

.gov-ids .vs__dropdown-menu{
    max-height: 150px;
}

.host .v-select{
    color: black;
}
.host .vs__search{
    height: 28px;
    border: none;
    margin: 0;
}

.host .vs__selected-options .vs__search{
    height: 28px;
    font-size: 9px;
    border: none;
    margin: 0;
}

.host .vs__selected{
    height: 28px;
}

.host .vs__search::placeholder{
    font-size: 9px;
    color: rgb(156 163 175);
}

.host .vs__actions .vs__clear{
    margin-top: 8px;
}

.host .vs__search:focus{
    font-size: 9px;
}

.host::placeholder{
    font-size: 12px;
}

.host::placeholder:focus{
    font-size: 12px;
}

.host .vs__dropdown-toggle{
    height: 28px; 
    border: none;
}

#dropdown .vs__search{
    padding-left: 7px;
}

.sliderPurpose .vs__actions{
    padding-right: 10px;
}

.sliderPurpose .vs__search::placeholder{
    font-size: 12px;
    color: #808080;
}

.sliderPurpose .vs__search:focus{
    font-size: 12px;
    height: 25px;

}

.sliderPurpose .vs__search{
    height: 25px;
}

.sliderPurpose .vs__dropdown-option{
    font-size: 13px;
}

.sliderPurpose .vs__selected{
    font-size: 12px;
    height: 25px;
}

.sliderPurpose .vs__dropdown-toggle{
    border: 1px solid #cbc7c7;
}

.vs__no-options{
    font-size: 12px;
}

.user-tag .multiselect__select{
    display: none;
}

.user-tag .multiselect__strong{
    font-size: 12px;
}

.user-tag .multiselect__tag{
    width: auto;
    font-size: 10px;
    background-color: #5c74ed;
}

.user-tag .multiselect__input{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.user-tag .multiselect__placeholder{
    font-size: 12px;
    color: #929292;
    margin: 0;
    padding-top: 2px;
}

.user-tag .multiselect__input::placeholder{
    font-size: 12px;
    color: #929292;
}

.user-tag .multiselect__tag-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 22px;
    background-color: #5c74ed;
    color: white;
}










